<h2>Please Sign In:</h2>
<form id="new-user" action="/session" method="post">
  <%= auth_token_input %>
  <label>
    <strong>Username:</strong>
    <input type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    <strong>Password:</strong>
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Sign In!">
</form>
<br>
Or <a href="/users/new">sign up!</a>
