<form id="tag-search" class="group">
  <label><strong>Search for a tag, or "Trending" for the newest and hottest beats</strong></label>
  <input type="text" id="tag-search-input" tabindex="1">
</form>

<section id="explored-thing">

</section>
