<button>
  <%= user.get('you_follow') ? "Unfollow" : "Follow" %>
</button>
<br>
<% if (counts) { %>
	<div>
	  <%= user.escape('num_followers') %> Followers
	</div>

	<div>
	  <%= user.escape('num_followees') %> Following
	</div>
<% } %>