<h2>Users</h2>
<ul>

<% users.each(function(user){ %>

<li class="group user"><a href="#/users/<%= user.id %>"><%= user.escape('username') %></a>
	<div id="follow-<%= user.id %>"></div>
</li>

<% }) %>
</ul>
