<h2>Please Sign Up:</h2>
<form id="new-user" action="/users" method="post">
  <%= auth_token_input %>
  <label>
    <strong>Username:</strong>
    <input type="text" name="user[username]" autofocus="autofocus">
  </label>
  <br>
  <label>
    <strong>Password:</strong>
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <label>
    <strong>Confirm Password:</strong>
    <input type="password" name="user[password_confirmation]" value="">
  </label>
  <br>
  <button>Sign Up!</button>
</form>
<br>
Or <a href="/session/new">sign in!</a>
