<form id="new-user" class="sign-in-form sign-up-form group" action="/users" method="post">
  <h2>Please Sign Up:</h2>
  <%= auth_token_input %>
  <label>
    <strong>Username:</strong>
    <input type="text" name="user[username]" autofocus="autofocus">
  </label>
  <br>
  <label>
    <strong>Password:</strong>
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <label>
    <strong>Confirm Password:</strong>
    <input type="password" name="user[password_confirmation]" value="">
  </label>
  <br>
  <div class="sign-in-buttons"><button>Sign Up!</button><br><div style="margin:">Or <a href="/session/new">sign in!</a></div></div>
</form>
<br>

