<h2>Please Sign Up:</h2>
<form id="new-user" action="/users" method="post">
  <label>
    <strong>Username:</strong>
    <input type="text" name="user[username]" value="">
  </label>
  <br>
  <label>
    <strong>Password:</strong>
    <input type="password" name="user[password]" value="">
  </label>
  <br>
  <input type="submit" value="Sign Up!">
</form>
