<h2>Your Liked Tracks</h2>
<ul>
  <% @tracks.each do |track| %>
    <li>
      <a href="<%= track_url(track) %>"><%= track.title %></a>
      - Uploaded by
      <strong><a href="<%= user_url(track.uploader) %>"><%= track.uploader.username %></a></strong>
    </li>
  <% end %>
</ul>
