<h2><%= track.isNew() ? "Upload a track!" : "Edit " + track.escape('title') %></h2>

  <input type="hidden" name="authenticity_token" value="<%= authToken %>">

  <label>
    <strong>Title: </strong>
    <input type="text" name="track[title]" value="<%= track.escape('title') %>">
  </label>
  <br>

  <label>
    <strong>Audio file:</strong>
    <input type="file" name="track[audio]" accept="audio/*">
  </label>
  <br>

  <label>
    <strong>Cover Art(optional):</strong>
    <input type="file" name="track[cover]" accept="image/*">
  </label>
  <br>

  <label>
    Or enter a URL:
    <input type="text" name="track[cover_url]">
  </label>
  <br>
  <button id="form-submit"><%= track.isNew() ? "Upload!" : "Update!" %></button>
