<h2><%= playlists.username %>'s Playlists</h2>
<% playlists.each(function (playlist){%>

  <h3><a href="#/playlists/<%= playlist.id %>"><%= playlist.escape('title') %></a></h3>
  <% if (currentUser.id === playlists.userId){%>
      <button data-id="<%= playlist.id %>">Delete</button>
  <% } %>
<% }); %>
