<h2><%= playlist.escape('title') %></h2>

<p>
  <%= playlist.escape('description') %>
</p>

<div class="group">
<button class="add-all-play">▸</button>
<button class="add-all">+</button>
</div>

<section class="playlist-tracks">

</section>
