<button class="prev-button">Prev</button>
<button class="next-button">Next</button>

<audio class="player" src="<%= track.escape('audio') %>" preload="auto" autoplay controls>
  <p>Your browser does not support the audio element.</p>
</audio>
