/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.autocomplete
 */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, h4, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: Open Sans, sans-serif;
}

a {
  color: #C53A79;
  font-weight: bold;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

input[type="text"],
button,
textarea {
  -webkit-appearance: none;
}

.group:after {
  clear: both;
  display: block;
  content: ""
}

header {
  background: #D96198;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1
}

header li {
  display: block;
  float: left;
}

main {
  margin-top: 53px;
}

button {
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background: #C53A79;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

header a, header button {
  color: #fff;
  display: block;
  margin: 0;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
}

#errors {
  background: #F28E63;
  position: fixed;
  top: 53px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}

#follow-view {
  float: right;
}

.username {
  display: block;
  font-size: 48px;
  margin: 0px;
  float: left;
}

.sign-in-header {
  margin: auto;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  display: block;
  padding: 5px 0;
}

.header li:not(.logo) {
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

button.sign-out {
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  margin: auto;
  width: 95%;
  /*border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;*/
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.sign-in-form {
  margin-top: 59px;
  display: block;
}

#app {
  margin: 53px auto;
  width: 90%;
}

#content {
  float: left;
  width: 70%;
  background: #eee;
  padding-top: 10px;
}

#queue {
  float: right;
  width: 30%;
  display: block;
}

textarea {
  height: 100px;
  width: 400px;
}

input[type="text"],[type="password"], textarea {
  border: 1px solid #333;
  padding: 5px 10px;
  background: white;
}

#track-tags > strong {
  float: left;
}

#tag-form {
  margin-top: 30px;
  float: left;
  display: block;
}

.tag {
  position: relative;
  display: block;
  background: #C53A79;
  border-radius: 10px;
  float: left;
  margin-left: 5px;
  padding: 2px 7px;
}

.tag a {
  color: #fff;
  float: left;
  font-weight: normal;
  display: block;
  height: 100%;
  padding-right: 10px;
}

.tag a.delete-tag {
  float: right;
  display: block;
  padding-right: 0;
  font-size: 12px;
  top: 4px;
  position: absolute;
  right: 7px;
}

.tag a.delete-tag:hover {
  color: #aaa;
}

.tag-list {
  margin-top: 10px;
}

.ui-menu {
  border-radius: 0;
}

.ui-menu-item {
  font-size: 12px;
}

#tag-search-input {
  color: #999
}

#tag-search-input:focus {
  color: black
}

.play-button, .add-button {
  border-radius: 50%;
  float: left;
}

.queue-track {
  padding: 10px 20px;
}

.current-track {
  background: #F5DFE7;
  border-radius: 10px;
}

.now-playing {
  display: none;
}

.current-track > .now-playing {
  display: block;
}
