/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.autocomplete
 */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
@import "bootstrap-sprockets";
@import "bootstrap";

html, body, header, footer, section, article, div,
strong, a, img, p, h1, h2, h3, h4, h5, time, ul, li, small,
form, label, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: Source Sans Pro, sans-serif;
}

a {
  color: #f99820;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
}

a:hover {
  color: #2081f9;
}

ul {
  list-style: none;
}

strong {
  font-weight: bold;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

input[type="text"],
button,
textarea {
  -webkit-appearance: none;
}

.group:after {
  clear: both;
  display: block;
  content: ""
}

header {
  background: #f99820;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1
}
.hs {
  background: transparent;
  position: absolute;
  color: #c9c9c9;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header li {
  display: block;
  float: left;
}

main {
  margin-top: 51px;
}

button {
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background: #f99820;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
}

button:hover {
  background: #2081f9;
}

header a, header button {
  color: #fff;
  display: block;
  margin: 0;
  background: transparent;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  -webkit-transition: background-color .5s;
  -moz-transition: background-color .5s;
}

header a:hover, header button:hover {
  color: #fff;
  background: #2081f9;
}

#errors {
  background: #f99820;
  position: fixed;
  top: 51px;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}

li.user div {
  margin: 10px;
}

.follow {
  float: right;
}

.username {
  display: block;
  font-size: 48px;
  margin: 0px;
  float: left;
}

.sign-in-header {
  margin: auto;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  display: block;
  padding: 5px 0;
  // opacity: 0.5;
}

.header li:not(.logo) {
  margin-top: 5px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

button.sign-out {
  font-size: 16px;
}

.logo a{
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px 20px;
}

nav {
  margin: auto;
  width: 95%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}


.sign-in-form {
  width: 300px;
  display: block;
  margin: 100px auto 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 0s infinite;
  // box-shadow: 0px 0px 15px 10px #f99820;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {

  50% {box-shadow: 0px 0px 15px 10px #fff;}
}

/* Standard syntax */
@keyframes mymove {
  50% {box-shadow: 0px 0px 15px 10px #f99820;}
}

.sign-up-form {
  width: 350px;
}


.sign-in-form label {
  float: right;
  margin-bottom: 5px;
}

.sign-in-form h2 {
  text-align: center;
  margin-right: 0;
  margin-bottom: 15px;
}

.sign-in-buttons {
  float: right;
}


#app {
  margin: 53px auto;
  width: 90%;
}

#content {
  float: left;
  width: 65%;
  background: #eee;
  padding: 10px;
  border-radius: 5px;
}

#queue {
  position: fixed;
  width: 50%;
  left: 65%;
  display: block;
  overflow: scroll;
  height: 90%;
  margin-left: 100px;
  top: 53px;
  bottom: 103px;
}

textarea {
  height: 100px;
  width: 400px;
}

input[type="text"],[type="password"], textarea {
  border: 1px solid #333;
  padding: 5px 10px;
  background: white;
}

#track-tags {
  margin-bottom: 20px;
}

#track-tags > strong {
  float: left;
}

#tag-form {
  margin-top: 30px;
  float: left;
  display: block;
}

.tag {
  position: relative;
  display: block;
  background: #f99820;
  border-radius: 10px;
  float: left;
  margin-left: 5px;
  padding: 2px 7px 3px 7px;
}

.tag a {
  color: #fff;
  float: left;
  font-weight: normal;
  display: block;
  height: 100%;
  padding-right: 10px;
}

.tag a.delete-tag {
  float: right;
  display: block;
  padding-right: 0;
  font-size: 12px;
  top: 4px;
  position: absolute;
  right: 7px;
}

.tag a.delete-tag:hover {
  color: #aaa;
}

.tag-list {
  margin-top: 10px;
}

.ui-menu {
  border-radius: 0;
}

.ui-menu-item {
  font-size: 12px;
}

#tag-search-input {
  color: #999
}

#tag-search-input:focus {
  color: black
}

.play-button, .add-button, .remove-button {
  border-radius: 50%;
  float: left;
}

.add-all, .add-all-play {
  border-radius: 50%;
  padding: 0px 13px;
  font-size: 36px;
}

.queue-track {
  overflow: hidden;
  height: 199px;
  width: 220px;
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  opacity: 1;
  -webkit-transition: opacity .5s, height .5s, padding .5s;
  -moz-transition: opacity .5s, height .5s, padding .5s;
}

.queue-track:first-child {
  border-top: 0;
}

.queue-track.noborder {
  border-top: 0;
}

.current-track + .queue-track {
  border-top: 0;
}

.queue-track.fade {
  opacity: 0;
}

.queue-track.squeeze {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 0;
}

.queue-track .buttons {
  float: left;
}

.track-player {
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
}

.track-player:last-child {
  border-bottom: 0;
}

.current-track {
  border-top: 0;
  background: #eee;
  border-radius: 10px;
  height: 280px;
  width: 330px;
}

.now-playing {
  display: none;
}

.current-track > .now-playing {
  display: block;
}

.stream-tracks {
  margin-top: 30px;
}

.jumbotron{
  background-image:url("http://i.imgur.com/K3kI3ax.jpg");
  // z-index: -100;
  color: #c9c9c9;
  margin-bottom: 0px;
  // background-position: 0% 25%;
  background-size: cover;
  height: 1100px;
  // background-repeat: no-repeat;
  // text-shadow: black 0.3em 0.3em 0.3em;
  text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
}
